.formRegister {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formRegister label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
}

.formRegister button {
  width: 100px;
  height: 36px;
}

.registerInput {
  padding-left: 32px;
  height: 40px;
}

.fieldWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.icon {
  position: absolute;
  top: 53%;
  left: 3%;
}

.registerBtn {
  padding: 6px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  border: 0.5px solid lightgray;
}

.error {
  position: absolute;
  left: 3%;
  top: 98%;
  color: red;
  font-size: 10px;
}
