.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 822px;
}

.contactItem {
  display: flex;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 4px;
  padding: 6px;
  width: auto;
}
