.wrapper {
  display: flex;
  gap: 20px;
}

.wrapper button {
  color: black;
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 4px 6px;
}

.wrapper button:hover {
  color: #fff;
  background-color: #3a5545;
  box-shadow: rgb(195, 208, 221) 0px 4px 18px -2px;
}

.username {
  font-weight: 500;
  font-size: 18px;
}
